:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  /* color: //rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ---- css overriding ---- */
.menu-item:hover {
  background: #0000002b;
}
.solid-button {
  opacity: 0.85;
  padding: 12px !important;
  background-image: linear-gradient(to right, #4caf50, #2e8b57) !important;
}
.solid-button:hover {
  opacity: 1;
}
.login-body {
  width: 100%;
  height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.cart-icon {
  color: #ffffff;
  opacity: 0.8;
}
.cart-icon:hover {
  color: #ffffff;
  background-color: #0000002b !important;
  opacity: 1;
}
/* .text-box > label {
  line-height: 1.2em !important;
}
.text-box input {
  padding: 12px !important;
} */
.text-box fieldset,
.text-box label {
  color: #2e8b57 !important;
  border-color: #2e8b57 !important;
  // line-height: 1.2em !important;
  // background: #ffffff;
}
.tabs {
  color: #333333;
  font-weight: bold !important;
}
.tabs.active {
  color: #2e8b57 !important;
}
button:focus,
button:focus-visible {
  outline: none !important;
}
/* .footer-sect > div {
  width: 30%;
  height: 140px;
} */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex-grow: 1;
  flex-basis: 200px;
  justify-content: space-evenly;
}
.flex-container > :not(:first-child) {
  padding-left: 15px;
}
.product-card {
  max-width: 250px;
}
/* Carousal Component Css */
.carousel-container {
  position: relative;
  width: 100%;
  margin: 64px 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: auto;
  // border-radius: 8px;
}

.carousel-container button {
  position: absolute;
  top: 50%;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.carousel-container button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #fff;
}

/* For Chrome, Edge, and Safari (Webkit-based browsers) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  height: 8px; /* Adjust the height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; /* Light gray color for the thumb */
  border-radius: 10px; /* Optional: Makes the thumb rounded */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light gray color for the track */
  border-radius: 10px; /* Optional: Makes the track rounded */
}
/* For Firefox */
scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  height: 8px; /* Adjust the height of the scrollbar (for horizontal scrollbars) */
}

scrollbar thumb {
  background-color: #d3d3d3; /* Light gray color for the thumb */
  border-radius: 10px; /* Optional: Makes the thumb rounded */
}

scrollbar track {
  background-color: #f0f0f0; /* Light gray color for the track */
  border-radius: 10px; /* Optional: Makes the track rounded */
}
/* screen width : mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .footer-sect > div {
    width: 100%;
    height: 140px;
  }
  .scroll-to-top {
    padding: 5px !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  background-color: #47a951;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  z-index: 1000;
  opacity: 0.8;
}
.scroll-to-top:hover {
  opacity: 1;
}
